* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #fae3b9;
}

.container {
    width: 35%;
    height: 400px;
    background-color: #222;
    border-radius: 20px;
}

.cont-input {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont-input input {
    width: 60%;
    padding: 10px;
    outline: none;
    border-radius: 5px;
    border: none;
}

.cont-input button {
    width: 20%;
    padding: 10px;
    margin-left: 10px;
    background-color: rgb(8, 37, 201);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.cont-input button:active
{
    transform: scale(1.1);
}

.cont-head {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    margin-bottom: 5px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.cont-head h3 {
    font-size: 30px;
    margin-top: 10px;
}

.cont-list {
    width: 100%;
    height: 250px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow-y: auto;
}

.cont-list ul li {
    width: 90%;
    height: 30px;
    border: 1px solid green;
    color: white;
    padding: 0px 20px;
    padding-top: 5px;
    list-style: none;
    border-radius: 5px;
}

.cont-list ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    text-align: start;
    margin-top: 10px;
}

.copy {
    height: 45px;
    overflow: none;
    text-align: center;
    padding-top: 10px;
    color: #fff;
}