* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #fae3b9;
}

.container {
    width: 35%;
    height: 420px;
    background-color: #222;
    border-radius: 20px;
}

.cont-head {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.cont-head h3 {
    font-size: 28px;
}

.cont-input {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont-input input {
    width: 60%;
    padding: 10px;
    outline: none;
    border-radius: 5px;
    border: none;
}

.cont-input button {
    width: 20%;
    padding: 10px;
    margin-left: 10px;
    background-color: rgb(8, 37, 201);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cont-input button:active {
    transform: scale(1.05);
}

.cont-list {
    height: 230px;
    overflow-y: auto;
}

.cont-list ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

/* Task Item */
.cont-list ul li.box {
    width: 90%;
    min-height: 35px;
    border: 1px solid green;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    color: white;
}

/* Delete Icon */
.cont-list ul li.box i {
    font-size: 20px;
    color: red;
    cursor: pointer;
}

.copy {
    height: 40px;
    text-align: center;
    padding-top: 10px;
    color: #fff;
}
